@font-face {
    font-family: "Post No Bills Jaffna", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PostNoBillsJaffna-Bold") format("woff2");
}

$post: "Post No Bills Jaffna", sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$play-dis: 'Playfair Display',serif;

